<!doctype html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="JustWatch GmbH">
		<meta name="description" content="{{ .Site.Params.Meta.Description }}">
		<meta property="og:title" content="{{ .Site.Params.Meta.Title }}">
		<meta property="og:description" content="{{ .Site.Params.Meta.Description }}">
		<meta property="og:image" content="{{ .Site.BaseURL }}gopher/gopass-gopher.png">
		<title>{{ .Site.Title }}</title>
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css" type="text/css" media="screen">
	</head>

	<body>
